h1{
    color: cornflowerblue;
}
h1, p{
    text-align: center;
}
img{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.main-header {
    background-image: linear-gradient(hsl(143, 81%, 64%), rgb(136, 234, 90));
    position: fixed;
    top: 0;
    right: 0; 
    left: 0;
    height: 48px;  
}
.header-info {
    text-align: left;
    color: rgb(38, 82, 203);
    position: absolute;
    left: 0;
    padding: 0;
    margin: 14px 14px 0 14px;
}
.header-info a {
    padding: 0;
    text-decoration: none;
}
.header-info a:hover {
    background-color: transparent
}


nav {
    position: absolute;
    right: 0;
    display: flex;
}

a {
    text-decoration: none;
    color: rgb(35, 58, 101);
    padding: 15px;
    float: left;
}

a:hover {
    background-color: rgb(148, 153, 201);
}

.jumbotron {
    margin-top: 5%;
}

.portrait{
    opacity: 0.5;	    
}
.portrait:hover {
    opacity: 1;	    
}

.title {
    font-style: italic;
    color: rgb(0, 0, 0);
}
h1, h2, h3, p {
    text-align: center;
    color: rgb(0, 0, 0);
}
.items {
    display: flex;
    justify-content: center;
}
.item {
    display: flex;
    flex-direction: column;
    background-color: rgb(154, 127, 237);
    margin: 5px;
}
.portrait {
    max-width: 100%;
    height: auto;
}
img {
    border: 20px solid rgb(205, 178, 228);	 
    border-radius: 8px;
    box-shadow: 15px 15px 25px rgb(85, 85, 228);   

    
}
body{
    background-image: url('./assets/img-bg.jpg');
    background-size: cover;
}
p, h1, h2, h3{
    color: white;
}
.blacked{
    color: black;
}
table, tr, th, td {
    border: 2px solid black;	
    border-collapse: collapse;
    
}
td{
    padding: 20px;
}
  th {
    color: white;
    background-color: rgb(123, 169, 238);
}
tr, th {
    height: 40px;
    text-align: center; /*horizontally*/
    vertical-align: center; /*vertically*/
}
td{
    background-color: rgb(126, 172, 213);
    color: white;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.tab {
    background-color: rgb(121, 185, 184); 
    /* background-color: rgb(111, 224, 168);  */
    /* background-color: gainsboro;  */
    width: 300px;
    padding: 40px;
    margin: 20px;
    border-radius: 10px;
}
.tab:hover{
    background-color: rgb(111, 224, 168);
    /* color: rgb(108, 77, 77); */

}

/* .name{
    color: rgb(215, 13, 13);
}

.name:hover{
    color: blue;
} */
h1.name {
    font-size: 30px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    color: black;
}
h2.price {
    font-size: 38px;
    color: black;
}

.list {
    list-style-type: disc;
    margin-bottom: 50px;
    text-align: left;
}

.list li {
    margin-top: 20px;
    color: black;
}

hr {
    height: 7px;
    width: 80%;
    margin: auto;
    background-color: rgb(219, 84, 75);
    border: none;
    border-radius: 50px;
    margin-top: 20px;
}

button {
    background-color: rgba(219, 85, 75, 0.616);
    border-radius: 8px;
    color: white;
    padding: 8px;
    border: none;
    font-size: 20pt;
}
  button:hover {
    transform: scale(1.2, 1.2);
    background-color: rgb(219, 85, 75);
    cursor: pointer;
}

div.about {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 30px;
    background-color: blanchedalmond;
    width: 80%;
}

.about {
    text-align: left;
    color: black;
    padding: 10px;
    width: 100%;
}

div.image-about {
    margin-bottom: auto;
    margin-top: auto;
    border-radius: 4px;
}

img.about-us {
    width: 300px;
}

footer {
    /* background-color: rgb(140, 215, 146); */
    background-image: linear-gradient(rgb(140, 215, 146), rgb(113, 225, 93));
}

.main-footer { 
    display: flex;
    justify-content: center;
    width: 100%;
}

.left-footer {
    margin-right: auto; 
    margin-left: 40px;
}

.right-footer {
    margin-left: auto;
    margin-right: 40px;
}

.center-footer {
    margin-left: 20px;
    margin-right: 20px;
}

.info-left {
    color: rgb(76, 110, 80);
    text-align: left;
    width: 100%;
}
.info-right {
    color: rgb(76, 110, 80);
    text-align: right;
    width: 100%;
}

.info-center {
    color: rgb(76, 110, 80);
    text-align: center;
    width: 100%;
    padding-top: 5px;
    border-top: 1px solid rgb(146, 168, 133);
}

.fa-phone{
    margin-right: 4px;
}
.fa-instagram{
    margin-right: 4px;
    font-size: 20px;
    color: rgb(111, 122, 218);    
}
.fa-address-book{
    margin-right: 4px;
}
.fa-solid{
    margin-right: 8px;
    color: rgb(111, 122, 218);

}
.fa-map-marked-alt, .fa-map-pin, .fa-address-book, .fa-phone-alt, .fa-instagram {
    margin: 6px;
    color: rgb(111, 122, 218);
} 